page-poppin {
  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    border-radius: 10px;
  }

  .crop {
    // width: 500px;
    
    height: 180px;
    overflow: hidden;
}

.crop img {
    filter: brightness(40%);
    // width: 400px;
    // height: 400px;
    margin: -100px  0 -18px;
    // margin: auto;
}

  .card-title {
    position: absolute;
    top: 80%;
    text-align: left;
    font-size: 1.3em;
    width: 100%;
    font-weight: bold;
    color: #D0D0D0;
  }

    .card-title2 {
    position: absolute;
    top: 90%;
    text-align: left;
    font-size: 0.8em;
    width: 100%;
    font-weight: bold;
    color: #B0B0B0  ;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
}
