page-signin {
 
  .login-content {
    background: #787878;

    .bckColor{
        color: red;
        background-color: red;
    }
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      padding: 20px 20px 0px 20px;
      margin-top: 135px;
    }

    .login-input {
    background-color:rgba(0,0,0,0) !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white !important;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #009900 ;
       border-radius: 30px !important;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 1.12em;
     }

     .forgot-btn {
       color: #ffffff;
       font-size: 0.95em;
       margin-top: -10px;
     }
  }
 
}